<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- 注解自动扫描 -->
    <context:component-scan base-package="net.logvv.ftp" />
    
    <!-- SpringContextHolder 
                    该工具类 用于将没有归入spring框架管理的类却要调用spring容器中的bean提供的工具类
     -->
    <bean id="springContextHolder" class="net.logvv.ftp.common.spring.SpringContextHolder" lazy-init="false"/>
    
    <!-- 将多个配置文件读取到容器中，交给Spring管理 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <!-- 使用file的方式引入，这样可以将配置和代码分离 -->
                <value>application.properties</value>
                <value>config.properties</value>
            </list>
        </property>
    </bean>
    
</beans>